// Google font
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

button a {
  text-decoration: none;
  color: black;
}

main {
  min-height: 80vh;
}

header {
  min-height: 3vh;
}

footer {
  min-height: 10vh;
}

.problem-grid {
justify-content: center;
}

.problems {
  max-width: 300px;
}

.problem-btn {
  max-width: 150px;
}