// Google font
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

// INFO
#info_button {
  display: flex;

  button a {
    text-decoration: none;
    color: black;
  }
}
