// Google font
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  background-color: #ffffff;
}

//Homepage Navbar
.navbar {
  display: flex;

  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
  }
}

// HOMEPAGE - BUTTON GET HELP - GET INFO
#homepage_button {
  button a {
    text-decoration: none;
    color: black;
  }
}

// HOMEPAGE - Footer
.homepage_footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f0f8fa;

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
}

// REGISTRATION

// INFO

#info_button {
  display: flex;

  button a {
    text-decoration: none;
    color: black;
  }
}

// TOPIC

.topic_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

div a {
  text-decoration: none;
}
