// Google font
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

// INFO
#info_button {
  display: flex;

  button a {
    text-decoration: none;
    color: black;
  }
}

.ballonBox {
  position: relative;
  left: 530px;
  bottom: 25px;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 2px solid #f8f9fa;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 4px 4px 4px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}

.ballonBox-input:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100px;
  border: 25px solid;
  border-color: #e8e8f1 transparent transparent #e8e8f1;
}

.ballonBox-input:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
}
