body {
  margin: 0;
  font-family: Montserrat;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
/* .agreementBox {
  position: absolute;
  width: 32px;
  height: 11px;
  left: 112px;
  top: 426px;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */
/* 
  text-align: center;

  color: #000000;
}
/* .disagreementBox { */
/* position: absolute;
width: 45px;
height: 11px;
left: 189px;
top: 427px;
font-style: normal;
font-weight: 500;
font-size: 9px;
line-height: 11px;
/* identical to box height */

/* text-align: center; */

/* color: #000000;
} */
